# Banco de dados
*.db
*.db-journal

# Chaves de criptografia
*.key

# Arquivos específicos do seu projeto
/app/core/database/dadosUser/reg.db
/app/core/database/dadosUser/blob.key
/keys.txt

# Ambiente virtual
.venv/
venv/

# Python cache
__pycache__/
*.pyc
app/core/database/dadosUser/blob.key
app/core/database/dadosUser/reg.db

build